{% block conferences_timegrid %}
    <h4><b> Conferences Timegrid </b></h4>
    <table class="table-bordered"  style="width:1068px;">
        <thead style="background-color: cadetblue">
        <tr>
            <th style="width: 50px; padding-left:5px">Day</th>
            <th style="text-align: center">00:00-00:59</th>
            <th style="text-align: center">01:00-01:59</th>
            <th style="text-align: center">02:00-02:59</th>
            <th style="text-align: center">03:00-03:59</th>
            <th style="text-align: center">04:00-04:59</th>
            <th style="text-align: center">05:00-05:59</th>
            <th style="text-align: center">06:00-06:59</th>
            <th style="text-align: center">07:00-07:59</th>
            <th style="text-align: center">08:00-08:59</th>
            <th style="text-align: center">09:00-09:59</th>
            <th style="text-align: center">10:00-10:59</th>
            <th style="text-align: center">11:00-11:59</th>
            <th style="text-align: center">12:00-12:59</th>
            <th style="text-align: center">13:00-13:59</th>
            <th style="text-align: center">14:00-14:59</th>
            <th style="text-align: center">15:00-15:59</th>
            <th style="text-align: center">16:00-16:59</th>
            <th style="text-align: center">17:00-17:59</th>
            <th style="text-align: center">18:00-18:59</th>
            <th style="text-align: center">19:00-19:59</th>
            <th style="text-align: center">20:00-20:59</th>
            <th style="text-align: center">21:00-21:59</th>
            <th style="text-align: center">22:00-22:59</th>
            <th style="text-align: center">23:00-23:59</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            {% for day, hours in conferencesTimeGrid %}

                <tr  style="font-weight: bold; background-color: #bcddff">
                    <td style="width: 50px; padding-left:5px">{{ day }}</td>
                    {% for hour, nbConferences in hours %}
                        <td style="text-align: center; {% if nbConferences > 0 %} background-color: #00e765 {% endif %}">{{ nbConferences }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}

