{% block users_location %}
    <div style="float: left; margin-right: 20px;">
    <h4><b> Users Location </b></h4>
    <table class="table-condensed table-bordered">

        <thead style="background-color: cadetblue">
            <tr>
                <th style="width:200px;">Country</th>
                <th>Nb Users</th>
                <th style="text-align: center">%</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {% for country, nbs in usersLocation %}
                    <tr  style="font-weight: bold; background-color: #bcddff">
                        <td>{{ country }}</td>
                        <td>{{ nbs }}</td>
                        <td><i><span style="color: blueviolet">{{ usersLocationPercent[country] }}%</span></i></td>
                    </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
